
  .layout{
    width: 70% !important;
    margin-top: 80px !important;
    margin: 0 auto;
    background-color: #ffffff !important;
  }
  .container-header{
    width: 100%;
    display: flex;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    justify-items: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .header{
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }
  /*modal*/
  .ant-modal-title{
    display: flex;
    justify-content: center;
    font-size: 24px !important;
  }
  .ant-modal-footer{
    display: flex;
    justify-content: center;
  }
  .ant-form-item-label{
    text-align: left !important;
  }
  .ant-form{
    width: 100%;
    margin: 0 auto !important;
  }
  .ant-form-item{
    justify-content: center;
  }
  .ant-input-affix-wrapper{
    padding: 7px 11px !important;
    height: 40px ;
    border-radius: 5px !important;
  }
  a.login-form-forgot{
    float: right;
  }
  .ant-input-prefix{
    font-size: 16px;
    opacity: 0.6;
  }
  .ant-form-item .btnlogin{
    width: 100%;
    height: 40px;
  }
  .form-item-button{
    margin-bottom: 15px !important;
  }
  
  .otherlogin{
    display: flex;
    justify-content: center;
    color: #f50057;
  }

  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
   
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: auto;
  }
  .nav-menu ul.nav-menu-items li{
    display: flex;
    list-style-type: none;
  }

  .nav-menu ul.nav-menu-items{
    display: flex;
  }
  .nav-text a {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 18px;
    display: flex;
    padding: 3px 12px;
    height: 100%;
  }
  .nav-text a span{
    display: flex;
    padding: 3px 5px;
    font-size: 20px;
    font-weight: 500;
  }
  .nav-text a{
    border-radius: 5px; 
    margin: 0 5px;
    height: 45px;
  }
  .navbar{
    display: none;
  }
  .nav-text a:hover{
    border: 1px solid #d612516b;
    color:#f50057;
  }
  .nav-text .active{
    border-radius: 5px; 
    border: 1px solid #d612516b;
    transition: 0.5s;
    color:#f50057;
  }
  ul{
    margin-top: 15px !important;
  }
  .nav-text a svg{
    display: none;
  }
  
  .header .rightbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative ;

  }


  .header .rightbar Button{
   margin: 0 1px;
   padding: 5px 5px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
  }
  
  .navbar-toggle{
    display: none !important;
  }


  @media only screen and (max-width: 930px) {  
    .logo{
      display: none;
    }

    .menu-bars{
      display: block;
    }
    .nav-text a svg{
      display: block;
    }
    .nav-menu {
      background-color: #ffffff;
      width: 250px;
      height: 100vh;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: -100%;
      margin-left:0 !important;
      transition: 850ms;     
    }
    .nav-menu.active {
      left: 0;
      transition: 350ms;
    }

    .nav-text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 16px 8px 16px;
      list-style: none;
      height: 60px;
      margin: 0 !important;
    }
    
    .nav-text a {
      text-decoration: none;
      color: #0c0c0c;
      font-size: 18px; 
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
    }
    
    .nav-text a:hover {
      border: 1px solid #d612516b;
     
    }
    
    .nav-menu-items {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 0 10px !important;
      display: flex;
      margin: 0 !important;
      flex-direction: column;
      position: relative;
      z-index: 3;
    }
  
    .navbar-toggle {
      background-color: #ffffff;
      width: 100%;
      height: 80px;
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 24px;
    }
    .navbar-toggle .menu-bars svg:hover{
      color: #d612516b !important;
    }
    .navbar-toggle .menu-bars svg{
     color: #000000 !important;
    
    }
    .nav-text span {
      margin-left: 16px;
    }
    .navbar{
      display: flex !important;
      justify-content: flex-start;
    }
    .nav-text svg {
      color: #0c0c0c !important;
    }
    .navbar .menu-bars svg {
      display: flex;
      justify-content: flex-start;
      color: black !important;
    }
    .navbar .menu-bars  :hover{
      color: #d612516b !important;
    }
}  